---
import Layout from "../layouts/Layout.astro"
import CoinFlipMachine from "../components/CoinFlipMachine.svelte"
---

<Layout title="coin flip">
    <main>

        <CoinFlipMachine client:load />

    </main>
</Layout>
