---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cryptpad form">
	<main>

        <h1>cryptpad form</h1>

        <h2><a href="https://cryptpad.fr/form/#/1/view/U+WV-4cerBHRkFezEIdHJw/MVWoHeQAPeVMQ0JAw2Ck5Rq2+Ho2BaeBQj76zsk++WY=/auditor=U1JBUXMvMHRaeFc0UEYwTWlPck45dHU3NGJWU0R1ZDc=/">auditor link</a></h2>

        <div>
            <iframe
            class="w-full h-screen"
            src="https://cryptpad.fr/form/#/2/form/view/TybuhS5Htpo61W-H9rUuBDgjIDcH-rKo0kfn3-6ur4Y/embed/"></iframe>
        </div>

    </main>
</Layout>