---
import Layout from "../layouts/Layout.astro"
---

<Layout title="empty">
	<main>

        <h1>empty h1</h1>

        <h2>empty h2</h2>

        <div>
            empty div
        </div>

    </main>
</Layout>