<html>
    <head>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.form.io/formiojs/formio.full.min.css"
        />
        <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
        <script type="text/javascript">

            window.onload = async function () {
                fetch("formio-test01.json")
                    .then((response) => response.json())
                    .then((jsonFormStructure) =>
                        Formio.createForm(
                            document.getElementById("formio"),
                            jsonFormStructure
                        )
                    )
                    .then((form) => {
                        // Prevent the submission from going to the form.io server.
                        form.nosubmit = true

                        form.on("submit", function (submission) {
                            console.log('#####################')
                            console.log('#####################')
                            console.log('#####################')
                            console.log(submission)
                            console.log('#####################')
                            console.log('#####################')
                            console.log('#####################')

                            window.open(
                                "/formio-result/?json=" +
                                    JSON.stringify(submission)
                            )
                        })
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        </script>
    </head>
    <body>
        <div id="formio"></div>
    </body>
</html>
