---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Alpine.dev">
	<main>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FqpvDcRsSak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	</main>
</Layout>
