---
import Layout from "../layouts/Layout.astro";

import MediaQuery from "../components/MediaQuery.astro";
---

<Layout title="media   query   eye   for   the   straight   bi">
    <main>
        <h1>media query eye for the straight bi</h1>

        <div class="m-4 text-center">asdf</div>

        <MediaQuery />

        <pre>      <code>
|...|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|..
1   5    10   15   20   25   30   35   40   45   50   55   60   65   70   75   80   85   90   95   100  105  110  115  120
The quick brown fox jumped over the lazy dog the quackie brun dawg yo jumped over then fucked the super lassie faire doggo
</code>
      </pre>

        <h2>yes it's base 1 don't @ me</h2>

        <h3>class="normieCode"</h3>

        <div class="normieCode">
            |...|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|..<br
            />
            1...5....10...15...20...25...30...35...40...45...50...55...60...65...70...75...80...85...90...95...100...105...110...115...120<br
            />
            The stupid fucking fox jumped the dumbass bitch dawg cos that's what
            mavis beacon taught it to do instead of roll over and beg for scritches
        </div>

        <h3>class="normieCode text-xs"</h3>

        <div class="normieCode text-xs">
            |...|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|..<br
            />
            1...5....10...15...20...25...30...35...40...45...50...55...60...65...70...75...80...85...90...95...100...105...110...115...120<br
            />
            The stupid fucking fox jumped the dumbass bitch dawg cos that's what
            mavis beacon taught it to do instead of roll over and beg for scritches
        </div>

        <div>
            <code> asdf</code>
        </div>

        <MediaQuery />

        <MediaQuery />

        <MediaQuery />

        <MediaQuery />

        <hr />

        <p>
            Stuff I stole from https://github.com/AshSimmonds/new-screen-setup
        </p>

        <p class="text-xs">i fucking hate css</p>
    </main>
</Layout>
