---
import Layout from "../layouts/Layout.astro"

import MediaQuery from "../components/MediaQuery.astro"

import LoremIpsum from "../components/lorem-ipsum.astro"
---

<Layout title="media   query   eye   for   the   straight   bi">
    <main>
        <h1>media query eye for the straight bi</h1>

        <MediaQuery />

        <h2>yes it's base 1 don't <a href="https://twitter.com/Magic8BaIl">@</a> me</h2>

        Here's a bunch of stuff to test on screen with various media query malarkey in mind.

        <hr />


        <h3>class="thisGuyH4X0Rz SYS64738"</h3>
        <MediaQuery />
        <pre>
            <code>
<LoremIpsum />
            </code>
        </pre>
        <hr />



        <h3>class="none" (like yo mama)</h3>
        <MediaQuery />
        <div class="none">
            <LoremIpsum />
        </div>

        <hr />




        <h3>class="normieCode"</h3>

        <div class="normieCode">
            <LoremIpsum />
        </div>

        <hr />


        <h3>class="normieCode text-xs"</h3>
            <LoremIpsum />


        <div>
            <code> asdf</code>
        </div>

        <hr />


        <MediaQuery />

        <MediaQuery />

        <MediaQuery />

        <MediaQuery />

        <hr />

        <p>
            Stuff I stole from https://github.com/AshSimmonds/new-screen-setup
        </p>

        <p class="text-xs">i fucking hate css</p>
    </main>
</Layout>
