---
import Layout from "../layouts/Layout.astro";
---

<Layout title="rive">
	<main>

        <h1>rive</h1>

        <div>
            asdf
        </div>

        <div>
            <canvas id="canvas"></canvas>
        </div>

        <div>
            qwer
        </div>

    </main>
</Layout>


<script>
    const rive = await import("@rive-app/canvas")

    new rive.Rive({
        // Hosted .riv asset, or a local one. Uncomment line 8 to try with
        // a local basketball.riv asset, or add your own!
        src: "https://cdn.rive.app/animations/vehicles.riv",
        // src: "basketball.riv",
        canvas: document.getElementById("canvas"),
        autoplay: true,
    })
</script>
