---
import Layout from "../layouts/Layout.astro"
import SaberMachine from "../components/SaberMachine"
---

<Layout title="Saber Astronautics">
    <main>
        <h1>Saber Astronautics</h1>

        <h2>Resources</h2>

        <a
            href="https://account.saberastro.com/"
            target="_blank"
            class="btn btn-secondary">Account</a
        >

        <a
            href="https://spacecockpit.saberastro.com/"
            target="_blank"
            class="btn btn-accent">Space Cockpit</a
        >

        <h2>Data</h2>

        <SaberMachine client:load />
    </main>

    <script type="module">
        import createGlobe from "https://cdn.skypack.dev/cobe"

        let currentPhi = 0
        let canvas = document.getElementById("cobe")

        const globe = createGlobe(canvas, {
            devicePixelRatio: 1,
            width: 350,
            height: 350,
            phi: 0, // longitude - 0.00 - 6.28
            theta: -0.0, // -1.57 (south pole) - 1.57 (north pole)
            dark: 1.0, // 0.0 - 1.0
            diffuse: 1.2, // 0.0 - 5.0
            scale: 1,
            mapSamples: 32768, // 500 - 100,000
            mapBrightness: 6,
            baseColor: [0.26, 0.77, 0.89], // RGB 0.0 - 1.0
            markerColor: [0.0, 0.95, 0.7],
            glowColor: [0.4, 0.7, 0.95],
            offset: [0, 0],
            opacity: 0.8,
            markers: [],
            onRender: (state) => {
                // Called on every animation frame.
                // `state` will be an empty object, return updated params.
                state.phi = currentPhi

                // Rotate the globe by 0.01 on every frame.
                currentPhi += 0.003

                let latitude = 0
                let longitude = 0
                let mapDotSize = 0.3

                let issStuff = JSON.parse(
                    document.getElementById("issData").innerHTML
                )

                // console.log("saber.astro: ", issStuff)

                if (issStuff.latitude) {
                    latitude = issStuff.latitude
                    longitude = issStuff.longitude
                    state.markers = [
                        { location: [latitude, longitude], size: mapDotSize },
                    ]
                }
            },
        })
    </script>
</Layout>
