---
import Layout from "../layouts/Layout.astro"
import SaberMachine from "../components/SaberMachine"
---

<Layout title="Saber Astronautics">
    <main>
        <h1>Saber Astronautics</h1>

        <SaberMachine client:load />
    </main>
</Layout>
