---
import Layout from "../layouts/Layout.astro"
import SaberMachine from "../components/SaberMachine"
---

<Layout title="Saber Astronautics">
    <main>
        <h1>Saber Astronautics</h1>

        <h2>Resources</h2>

        <a href="https://account.saberastro.com/" target="_blank" >Account</a>

        <a href="https://spacecockpit.saberastro.com/" target="_blank">Space Cockpit</a>

        <SaberMachine client:load />
    </main>
</Layout>
