---
import Layout from "../layouts/Layout.astro"
---

<Layout title="tabs">
  <main>
    <h1>tabs</h1>

    This is a bit hacky but it works, using <a href="/alpine">AlpineJS</a>.

    <div class="tab-wrapper" x-data="{ activeTab:  0 }">
      <div class="flex">
        <label
          x-on:click="activeTab = 0"
          class="tab-control tab tab-lifted"
          :class="{ 'tab-active': activeTab === 0 } "
        >
          Tab 1
        </label>
        <label
          x-on:click="activeTab = 1"
          class="tab-control tab tab-lifted"
          :class="{ 'tab-active': activeTab === 1 }"
        >
          Tab 2
        </label>
        <label
          x-on:click="activeTab = 2"
          class="tab-control tab tab-lifted"
          :class="{ 'tab-active': activeTab === 2 }"
        >
          Tab 3
        </label>
      </div>

      <div class="tab-panel" x-show="activeTab === 0">
        <p>This is the example content of the first tab.</p>
      </div>
      <div class="tab-panel" x-show="activeTab === 1">
        <p>second tab example content.</p>
      </div>
      <div class="tab-panel" x-show="activeTab === 2">
        <p>The content of the third and final tab in this set.</p>
      </div>
    </div>
  </main>
</Layout>
