---
import Layout from "../layouts/Layout.astro";
import TallySoSubmissions from "../components/TallySoSubmissions";
---

<Layout title="Tally.so | Slum Inspection Results">
	<main>
		<h1>Slum Inspection Results</h1>

		Back to form: <a href="/tally-so">/tally-so</a>

		<hr />

		<TallySoSubmissions client:load />

		<hr />

		Also at: https://tally.so/forms/w81W0Y/submissions
	</main>
</Layout>
