---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tally.so | Slum Inspection Form">
	<main>

		<h1>Slum Inspection Form using Tally.so</h1>

		<iframe
			src="https://tally.so/embed/w81W0Y?alignLeft=1&hideTitle=1&transparentBackground=1"
			width="100%"
			height="2800"
			frameborder="0"
			marginheight="0"
			marginwidth="0"
			title="Inspection"
		>
		</iframe>

	</main>
</Layout>
