---
import Layout from "../layouts/Layout.astro"
import TwoUpMachine from "../components/TwoUpMachine.svelte"
---

<Layout title="two up">
    <main>

        <TwoUpMachine client:load />

    </main>
</Layout>
