---
import TwoUpMachine from "../components/TwoUpMachine";
import Layout from "../layouts/Layout.astro"
---

<Layout title="two up">
    <main>

        <TwoUpMachine client:load />

    </main>
</Layout>
