---
import Layout from "../layouts/Layout.astro"
import SvelteCounter from "../components/XStateCounterSvelte.svelte"
import PreactCounter from "../components/XStateCounterPreact"
import VueCounter from "../components/XStateCounterVue.vue"
import SolidCounter from "../components/XStateCounterSolid"
---

<Layout title="xstate machine in Astro using Svelte and Preact and Vue">
    <h1>xstate machine in Astro using Svelte and Preact and Vue</h1>

    <div>All components share the same xstate finite state machine.</div>

    <hr />
    <div class="grid gap-8 grid-cols-1 md:grid-cols-3 place-items-center">
        <div>
            <h2>Svelte</h2>
            <SvelteCounter client:load />
        </div>

        <div>
            <h2>Preact</h2>
            <PreactCounter client:load />
        </div>

        <div>
            <h2>Vue</h2>
            <VueCounter client:load />
        </div>

        <div>
            <h2 class="inlineastrotest">Solid</h2>
            <SolidCounter client:load />
        </div>
    </div>

    <hr />

    <div>
        Note: the buttons remain enabled and functional, it's the machine itself
        which does not allow the counter to change.<br />
        <br />
        This is by design, to show that it's not an aesthetic thing, but denied or
        allowed by the system itself - when <code>disabled</code> it's like the function
        does not even exist, there is no logic required to deal with incoming requests
        this way.
    </div>

    <br />

    <img src="/xstate-counter-01.png" alt="astro-svelte" />
</Layout>



<style>
    .inlineastrotest {
        font-family: fantasy;
    }
</style>