---
import Layout from "../layouts/Layout.astro"
import SvelteCounter from "../components/SvelteCounter.svelte"
---

<Layout title="x-state counter in Svelte and Astro">
    <h1>x-state counter in Svelte and Astro</h1>

        Simple proof-of-concept of an X-State machine in Svelte and Astro - of which could only find one example in the wild, so I leveraged that. (<a href="https://github.com/ederchrono/astro-xstate-communication">src</a>)
    
        <SvelteCounter client:load />

        <br />

        <img src="/xstate-counter-01.png" alt="astro-svelte" />

</Layout>
