---
import Layout from "../layouts/Layout.astro"
import SvelteCounter from "../components/SvelteCounter.svelte"
---

<Layout title="x-state counter in Svelte and Astro">
    <h1>x-state counter in Svelte and Astro</h1>

        <SvelteCounter client:load />

</Layout>
