---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Alpine.dev">
	<main>
		<div x-data="{ open: false }">
			<button x-on:click="open = ! open">Toggle Dropdown</button>

			<div x-show="open">
				<Card
					href="https://alpinejs.dev/directives/data"
					title="Documentation"
					body="Learn how Alpine.dev works and explore the official API docs."
				/>
			</div>
		</div>
	</main>
</Layout>
