<div>|...|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|..<br />
1...5....10...15...20...25...30...35...40...45...50...55...60...65...70...75...80...85...90...95...100...105...110...115...120<br/>
The quick brown fox jumped over the lazy dog the lazy fox jumps over the quick dogging brown foxes no and then but goldilocks was dumb and the three bears were mean and they all lived in a house made of candy and the end thanks co-pilot</div>